[Unit]
Description=Multiple CI - Notifier
Wants=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/bash -c "source /root/multiple-ci/venv/bin/activate && mci-notifier"
Restart=on-failure

[Install]
WantedBy=multi-user.target
